/* CSS Reset */
/* * {
  padding: 0px;
  margin: 0px;
} */

/* https://www.w3schools.com/howto/howto_css_zoom_hover.asp */
.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.15
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

body {
  background-image: url(../img/backgrounds/bg_pocketdimension.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.disable-image-drag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}